@import './markdown.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

:root {
  --background: #edf1F5;
  --button: #202020;
  --button-color: #fafafa;
  --button-radius: 1rem;
  --card-background: #fff;
  --item-active: #02a9ff;
  --item-background: #edf1F5;
  --item-hover: #d6e0ef;
  --item-radius: 1.2rem;
  --shadow: 0 0 2.5rem rgb(0 0 0 / 10%);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--background);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body,
#app {
  font-family: 'Fredoka', sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  letter-spacing: .04rem;
  margin: 0;
  padding: 0;
}

html.dark {
  --background: #14181D;
  --button: #fafafa;
  --button-color: #202020;
  --card-background: #20232D;
  --item-background: #20232D;
  --item-hover: #f5f6fd;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(37, 124, 255);
  height: .2rem;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

main {
  padding: 5rem 0;
}

span {
  display: block;
}

input[type="search"] {
  border: none;
  border-radius: var(--item-radius);
  box-shadow: var(--shadow);
  display: flex;
  margin: auto;
  padding: 1.2rem 2rem;
  width: 50%;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}