@import './markdown.css';

:root {
  --background: #edf1F5;
  --button: #202020;
  --button-color: #fafafa;
  --button-radius: .6rem;
  --card-background: #fff;
  --item-active: #02a9ff;
  --item-background: #edf1F5;
  --item-hover: #d6e0ef;
  --item-radius: .5rem;
  --shadow: 0 0 2.5rem rgb(0 0 0 / 10%);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: var(--background);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  --background: #14181D;
  --button: #fafafa;
  --button-color: #202020;
  --card-background: #20232D;
  --item-background: #20232D;
  --item-hover: #f5f6fd;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(37, 124, 255);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: .2rem;
}

main {
  padding: 5rem 0;
}