.skeleton {
  --skeleton-background: hsl(200, 20%, 90%);
  --skeleton-animation: skeleton-loading 1s linear infinite alternate;
}

.pokemon.skeleton .sprite-container {
  animation: var(--skeleton-animation);
  background: var(--skeleton-background);
  border-radius: var(--item-radius);
  height: 12rem;
  position: relative;
  width: 50%;
  margin-top: 1rem;
}

.pokemon.skeleton .number {
  animation: var(--skeleton-animation);
  background: var(--skeleton-background);
  border-radius: var(--button-radius);
  height: 2.5rem;
  margin-top: .8rem;
  width: 30%;
}

.pokemon.skeleton .name {
  animation: var(--skeleton-animation);
  background: var(--skeleton-background);
  border-radius: var(--button-radius);
  height: 2.5rem;
  margin-top: .8rem;
  width: 70%;
}

.pokemon.skeleton .type {
  /* animation: var(--skeleton-animation); */
  background: var(--skeleton-background);
  border-radius: var(--button-radius);
  height: 3.2rem;
}

@keyframes skeleton-loading {
  0% {
    background: var(--skeleton-background);
  }

  100% {
    background: hsl(200, 20%, 95%);
  }
}